/* Add application styles & imports to this file! */
/* Application-wide Styles */
/* Global Styles */

h1 {
  color: rgb(0, 48, 110);
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: rgb(157, 179, 37);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;

  margin-left: 10px;
  background-color: rgb(200, 219, 255);
}
body,
input[text],
button {
  color: rgb(0, 0, 0);
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: rgb(39, 1, 255);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: rgb(245, 250, 230);
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited,
a:link {
  color: white;
  background-color: rgb(48, 113, 173);
}
nav a:hover {
  color: black;
  background-color: white;
}
nav a.active {
  color: #564ed1;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
